<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact Form Failure - AIRE</title>
    <!-- No-index -->
    <meta name="robots" content="noindex">
  </head>
  <body>

      <h1>Fail! :(</h1>
      <p>That didn't work. You should do better.</p>
      <p><a href="/">Back to AIRE</a></p>
  </body>
</html>